<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5 text-white">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      <a href="/project/{{project.id}}">{{post.title}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">$</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount text-white">{{format_amount project.needed_funding}}</span>
      Cost
    </p>
    <p>Created by {{post.author.username}} on {{post._createdAt}}</p>
  </div>
  <div class="col-md-7 text-white">
    <p>
      {{#each post.body as |body|}}
            {{#each body.children as |child|}}
      <p>{{child.text}}</p>
      {{/each}}
      {{/each}}
    </p>
  </div>
</div>
{{/each}}